body {
    margin: 80px 350px;
    background: #23262d;
    color: #000;
    position: absolute;
}
main {
    background: #fff;
    position: absolute;
    height: 430px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    padding-top: 0;
}
img {
    height: 165px;
    width: 300px;
    position: relative;
    border-radius: 9px 8px 0 0 ;
}
h4 {
    color: #ee4d6b;
    position: relative;
}
h1 {
    position: relative;
}
p {
    color: #a9a5a4;
    position: relative;
}
.end {
    position: absolute;
    background: #ee4d6b;
    display: flex;
    border-radius: 0 0 10px 10px;
}
.read {
    position: relative;
    margin: 0;
}
.views {
    position: relative;
    margin: 0;
}
.comments {
    position: relative;
}
