body {
    padding: 5em;
    text-align: center;
}
.box {
    background: aquamarine;
    padding: 2em;
    width: 25%;
    margin: 0 auto 10%;
    outline: 5px solid aquamarine;
    outline-offset: 5px;
}
.buttom {
    text-decoration: none;
    display: inline-block;
    background: steelblue;
    padding: 1em 3em;
    color: white;
    outline: 3px solid steelblue;
}